<!DOCTYPE html>
<html>
  <head>
    <link rel= "icon" sizes="16x16"  href="/images/A.ico" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="art malagasy">
    <meta name="Description" content="catalogue arts malagasy">
    <meta name="GENERATOR" content="raseliarison nirinA">
    <meta name="FORMATTER" content="raseliarison nirinA">
    <meta name="AUTHOR" content="raseliarison nirinA">
    <title>raseliarison <%= title %></title>

  <link rel="stylesheet" href="/stylesheets/jquery-ui.min.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="/stylesheets/jquery-ui.theme.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' type="text/css" />
  <script src="/javascripts/jquery-3.7.1.min.js"></script>
  <script src="/javascripts/jquery-ui.min.js"></script>
  <script defer src="/javascripts/main.js"></script>
  <script defer src="/javascripts/srcdata.js"></script>
  <script defer src="/javascripts/ora.js"></script>
  <script defer src="/javascripts/banner.js"></script>
