<div class="homebanner">
<ul class="homenavbar">
<li><span class="raseliarison">raseliarison</span></li>
<li><span class="nirina">nirinA</span></li>
<li><span class="adrien">adrien</span></li> 
<li><span class="blog">blog</span></li>
<%# <li><span class="artisanat">artisanat</span></li> #%>
<li><span class="code">code</span></li>
<%# <li><span class="about">about</span></li> #%>
<li><span class="FAQ">FAQ</span></li>
<li><div id="logo"></div></li>
<li><div id="firebase"></div></li>
</ul>
</div>
