<%- include('mirindra_head', {title: 'mirindra'}); -%>
<ul>
<li>
<a href='/mirindra/05'>4 mois, premi&egrave;res photos</a>
</li>
<li>
<a href='/mirindra/video1'>4 mois, premi&egrave;res vid&eacute;os</a>
</li>
<li>2009 08 13
</li>
<li>2009 09 28
</li>
<li>
</li>

</ul>
</div>
<%- include('footer'); -%>
