<%- include('mirindra_head', {title: 'mirindra'}); -%>
<ul>
<li>
<a href='/mirindra/05'>4 mois, premi&egrave;res photos</a>
</li>
<li>
<a href='/mirindra/video0'>4 mois, premi&egrave;res vid&eacute;os</a>
</li>
<li>
<a href='/mirindra/video1'>2009 08 13</a>
</li>
<li>
<a href='/mirindra/video2'>2009 09 28</a>
</li>
<li>
</li>

</ul>
</div>
<%- include('footer'); -%>
