<%- include('mirindra_head', {title: 'mirindra'}); -%>

<h2>Mirindra 4 mois</h2>
<h3>les premières photos</h3>
    
    <% for (var i = 0; i < listImages.length;  i++ ) { %>
    <div class="imagedrop">
        <img src="/images/mirindra/<%= listImages[i] %>" width="50" heigth="50">
    	<div class="imagedrop-content">
    	     <img src="/images/mirindra/<%= listImages[i] %>" width="250" heigth="250">
    	</div>
    </div>
    <% } %>
    

<h3><a href="/mirindra/video0">les premi&egrave;res vid&eacute;os</a></h3>
</div>
<%- include('footer'); -%>
